<h1>Mc Fly Kubos</h1>
<div class="formulario welcome">
<p>Welcome to Mc Fly Kubos</p>

<a href="/signup"><button class="btn btn-default">Sign up </button></a>
<a href="/login"><button class="btn btn-default">Log In </button></a>
<!-- <button class="btn btn-default"><a href="/auth/google">Log In With Google</a> </button> -->
</div>
