
<div class="formulario">
  <h2> Login </h2>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="username">Username:</label>
      <input class="form-control" type="text" name="username" placeholder="Shin Chan">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input class="form-control" type="password" name="password" placeholder="Your password">
    </div>
    <% if (typeof message != "undefined") { %>
      <div class="error-message">
        <%= message %>
      </div>
      <% } %>
        <div>
          <button class="btn btn-default" type="submit">Log In</button>
        </div>
  </form>
  <p class="account-message">
    <a href="/signup">Register </a>Log in
  </p>
</div>
