<div>Private page</div>
<% if (user) { %>
  <div>
    <h1>Who's the best developer?</h1>
    <h1>You are, <span style="color: red;"><%= user.username%></span>. You are. </h1>
    <img src="http://media.giphy.com/media/UsK5GqD3e0huU/giphy.gif" alt="You rock.">
    <br> <a href="/logout">Log out</a>
  </div>

  <div>
    <a href='/note/new'>New note</a>

  </div>
<% } %>


<!-- Como USUARIO quiero poder llamar al API, es decir, quiero poder tener un servidor local
al que hacer una llamada HTTP y que me devuelva algo.
Como USUARIO quiero poder llamar al API para crear notas.
Como USUARIO quiero poder llamar al API para consultar las notas.
Como USUARIO quiero poder llamar al API para consultar una sóla nota.
Como USUARIO quiero poder llamar al API para marcar favorita una nota.
Como USUARIO quiero poder llamar al API para consultar las notas marcadas como favoritas. -->
